<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js Life cycle</title>
</head>
<body>
  <div id="app1">
    <Counted1></Counted1>
    <Counted1></Counted1>
    <Counted1></Counted1>
  </div>

  <hr>

  <div id="app2">
    <app-counted></app-counted>
    <app-counted></app-counted>
    <app-counted></app-counted>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="main.js"></script>
</body>
</html>