<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js</title>

  <style>
    .box {
      display: flex;
      justify-content: space-around;
    }

    .demo {
      width: 100px;
      height: 100px;
      background: gray;
    }

    .c1 {
      background: red;
    }

    .c2 {
      background: green;
    }

    .c3 {
      background: blue;
    }

    .girar {
      transform: rotate(45deg);
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="box">
      <div class="demo" :class="style1" @click="applyC1 = !applyC1"></div>
      <div class="demo"></div>
      <div class="demo" :class="[classCSS, {girar: applySpin}]"></div>
    </div>

    <hr>
    <div class="box">
      <div class="demo" :style="{'background-color': color}"></div>
      <div class="demo" :style="[myStyle, {height: heightLen}]"></div>
      <div class="demo" :class="[classCSS, {girar: applySpin}]"></div>
    </div>

    <input type="text" v-model="color">
    <input type="text" v-model="widthLen">
    <input type="text" v-model="heightLen">
    <hr>


    <input type="text" v-model="classCSS">
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="main.js"></script>
</body>

</html>